<div nz-row class="body_row">
  <div nz-col nzSpan="3"></div>
  <div nz-col nzSpan="18">
    <div style="margin-top:16%">
      <div class="login_div">
       <div style="text-align: center"> <img src="../../assets/icon/logo.svg" height="40px" width="40px" style="padding-bottom: 3px">
        <span style="font-size: 16px">泰格安运维管理平台</span></div>
        <div style="margin-top: 20px">
          <nz-input-group nzPrefixIcon="user">
            <input  [autofocus]="true" style="font-size: 14px;font-family: '微软雅黑'" type="text" nz-input placeholder="请输入用户名" nzSize="large"/>
          </nz-input-group>
        </div>
        <div style="margin-top: 20px">
          <nz-input-group nzPrefixIcon="lock">
            <input  style="font-size: 14px;font-family: '微软雅黑'" type="password"  nz-input placeholder="请输入密码" nzSize="large"/>
          </nz-input-group>
        </div>
        <div style="margin-top: 20px;text-align: right">
          <label nz-checkbox  style="float: left">
            <span>记住密码</span>
          </label>
          <a class="login-form-forgot" >忘记密码</a>
        </div>
        <div style="margin-top: 20px;text-align: right">
          <button style="width: 100%;font-family: '微软雅黑';background: #6FB4CE;border: none" nz-button class="login-form-button" [nzType]="'primary'" >登录</button>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="3"></div>
</div>
