<app-header></app-header>
<br/>
<div class="main_body">
  <div nz-row>
    <div nz-col nzSpan="2"></div>
    <div nz-col nzSpan="20">
      <div nz-row>
        <div nz-col nzSpan="12">
          <label style="font-size: 20px;color: #ffffff;margin-left: 10px">
            平台监控
          </label>
          <label style="color: #95A0B1;font-size: 12px">
            监控服务器运行状态
          </label>
        </div>
        <div nz-col nzSpan="12">
            <nz-card *ngFor="let item of servers">

            </nz-card>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="2"></div>
  </div>
</div>
