<div nz-row class="logo-header">
  <div nz-col nzSpan="2"></div>
  <div nz-col nzSpan="20">
    <div nz-row>
      <div nz-col nzSpan="8">
        <a [routerLink]="'/domainList'" class="carousel-container-header-logo">
          <img src="../../assets/icon/logo.svg" height="50px" width="50px" style="padding-bottom: 3px">
          <span> &nbsp;泰格安运维管理平台 </span>
        </a>
      </div>
      <div nz-col nzSpan="13">
           <span>
             <ul class="carousel-container-header-nav-list">
              <li><a [routerLink]="'/platform-management'"><i nz-icon nzType="dashboard" nzTheme="fill"></i> 平台监控 </a></li>
              <li><a [routerLink]="'/domainList'"><i nz-icon nzType="setting" nzTheme="fill"></i> 系统监控 </a></li>
             </ul>
          </span>
      </div>
      <div nz-col nzSpan="3">
        <div class="carousel-container-header-login" style="text-align: right">

          <span>
              <a><i nz-icon nzType="logout" nzTheme="outline"></i> 注销</a>
            </span>
          <span>
             <a> <i nz-icon nzType="user" nzTheme="outline"></i> {{userName || "admin"}}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="2">
  </div>
</div>
