<ng-template #zone_table_search>
  <div nz-row>
    <div nz-col nzSpan="5">
      <img style="width: 25px;height: 25px;margin-bottom:10px;" src="../../assets/icon/download_zone.svg"/> <label>&nbsp; Zone数据下载记录</label>
    </div>
    <div nz-col nzSpan="4">
    </div>
    <div nz-col nzSpan="5" style="padding: 0;font-size: 12px;font-family: '微软雅黑'">
      <nz-range-picker style="width: 98%;" [(ngModel)]="dateRage" (ngModelChange)="setTime()"></nz-range-picker>
    </div>
    <div nz-col nzSpan="4" style="padding: 0">
      <nz-select style="width: 98%;" [(ngModel)]="fileType" nzAllowClear nzPlaceHolder="文件类型">
        <nz-option nzLabel="全部" nzValue=""></nz-option>
        <nz-option nzLabel="asc" nzValue="asc"></nz-option>
        <nz-option nzLabel="gz" nzValue="gz"></nz-option>
        <nz-option nzLabel="md5" nzValue="md5"></nz-option>
        <nz-option nzLabel="sig" nzValue="sig"></nz-option>
        <nz-option nzLabel="signatures" nzValue="signatures"></nz-option>
        <nz-option nzLabel="zone" nzValue="zone"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="4" style="padding: 0">
      <nz-select style="width: 100%;" [(ngModel)]="status" nzAllowClear nzPlaceHolder="下载状态">
        <nz-option nzLabel="全部" nzValue=""></nz-option>
        <nz-option nzLabel="下载完成" nzValue="finally"></nz-option>
        <nz-option nzLabel="正在下载" nzValue="starting"></nz-option>
        <nz-option nzLabel="等待" nzValue="waiting"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="2" style="text-align: right">
      <button (click)="search()" nzType="primary" style="width: 96%" class="domain-list-button" nz-button><i nz-icon nzType="search"></i>搜索
      </button>
    </div>
  </div>
</ng-template>
<div class="div_zone_data_table">
  <nz-table style="margin: 0 auto;" #domainTable2 [nzData]="list" nzBordered [nzShowPagination]="false"
            [nzTitle]="zone_table_search">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th [nzAlign]="'center'" [nzWidth]="'49%'" [nzShowSort]="true" nzSortKey="local_name">文件名</th>
      <th [nzAlign]="'center'" [nzWidth]="'8%'" [nzShowSort]="true" nzSortKey="file_type">文件类型</th>
      <th [nzAlign]="'center'" [nzWidth]="'8%'" [nzShowSort]="true" nzSortKey="file_size">文件大小</th>
      <th [nzAlign]="'center'" [nzWidth]="'9%'" [nzShowSort]="true" nzSortKey="start_time">开始时间</th>
      <th [nzAlign]="'center'" [nzWidth]="'9%'" [nzShowSort]="true" nzSortKey="end_time">结束时间</th>
      <th [nzAlign]="'center'" [nzWidth]="'9%'" [nzShowSort]="true" nzSortKey="elapsed_time">耗时(毫秒)</th>
      <th [nzAlign]="'center'" [nzWidth]="'8%'" [nzShowSort]="true" nzSortKey="download_status">下载状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of domainTable2.data">
      <td [nzAlign]="'center'">{{data.localName}}</td>
      <td [nzAlign]="'center'">{{data.fileType}}</td>
      <td [nzAlign]="'center'">{{data.fileSize}}</td>
      <td [nzAlign]="'center'">{{data.startTime}}</td>
      <td [nzAlign]="'center'">{{data.endTime}}</td>
      <td [nzAlign]="'center'">{{data.elapsedTime}}</td>
      <td [nzAlign]="'center'">
        <nz-tag *ngIf="data.downloadStatus == 'finally'" [nzColor]="'#A9BD7A'">下载完成</nz-tag>
        <nz-tag *ngIf="data.downloadStatus != 'finally'" [nzColor]="'#6FB4CE'">正在下载</nz-tag>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" (nzPageIndexChange)="indexChange()" style="float: right;margin-top: 15px"></nz-pagination>
</div>
