
<ng-template #process_table_search>
  <div nz-row>
    <div nz-col nzSpan="5">
      <img style="width: 25px;height: 25px;margin-bottom:10px;" src="../../assets/icon/process_1.svg"/> <label>&nbsp;数据处理记录</label>
    </div>
    <div nz-col nzSpan="4">
    </div>
    <div nz-col nzSpan="5" style="padding: 0;font-size: 12px;font-family: '微软雅黑'">
      <nz-range-picker style="width: 98%;" [(ngModel)]="dateRage" (ngModelChange)="setTime()"></nz-range-picker>
    </div>
    <div nz-col nzSpan="4" style="padding: 0">
      <nz-select style="width: 98%;" [(ngModel)]="fileType" nzAllowClear nzPlaceHolder="文件类型">
        <nz-option nzLabel="不限" nzValue=""></nz-option>
        <nz-option *ngFor="let data of types" nzLabel="{{data}}" nzValue="{{data}}"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="4" style="padding: 0">
      <nz-select style="width: 100%;" [(ngModel)]="status" nzAllowClear nzPlaceHolder="删除状态">
        <nz-option nzLabel="不限" nzValue=""></nz-option>
        <nz-option nzLabel="已删除" nzValue="1"></nz-option>
        <nz-option nzLabel="未删除" nzValue="0"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="2" style="text-align: right">
      <button (click)="search()" nzType="primary" style="width: 96%" class="domain-list-button" nz-button><i nz-icon nzType="search"></i>搜索
      </button>
    </div>
  </div>
</ng-template>
<div class="div_process_data_table">
  <nz-table style="margin: 0 auto;" #domainTable4 [nzData]="list" nzBordered [nzShowPagination]="false"
            [nzTitle]="process_table_search">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th [nzWidth]="'45%'" [nzShowSort]="true" nzSortKey="file_name">文件名</th>
      <th [nzWidth]="'25%'" [nzShowSort]="true" nzSortKey="file_type">文件类型/子类型</th>
      <th [nzWidth]="'15%'" [nzShowSort]="true" nzSortKey="exec_time">处理时间</th>
      <th [nzAlign]="'center'" [nzWidth]="'15%'" [nzShowSort]="true" nzSortKey="is_del">删除状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of domainTable4.data">
      <td>{{data.fileName}}</td>
      <td>{{data.fileType}}/{{data.subType}}</td>
      <td>{{data.execTime}}</td>
      <td [nzAlign]="'center'">
        <nz-tag *ngIf="data.isDel == '未删除'" [nzColor]="'#A9BD7A'">{{data.isDel}}</nz-tag>
        <nz-tag *ngIf="data.isDel != '未删除'" [nzColor]="'#BF7A6A'">{{data.isDel}}</nz-tag>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" (nzPageIndexChange)="indexChange()" style="float: right;margin-top: 15px"></nz-pagination>
</div>
