
.div_process_data_table >>> .ant-table-body{
  color: #ffffff;
  background: #2a3039;
}


.div_process_data_table >>> .ant-table-content{
  color: #ffffff;
  background: #2a3039;
  border-color: #353C48;
}

.div_process_data_table >>> img{
  width: 100%;
  text-align: center;
}
.div_process_data_table >>> .ant-table-placeholder{
  color: #6FB4CE;
  background: #2a3039;
  text-align: center;
  margin: 0 auto;
  border-color: #353C48;
}
.div_process_data_table >>> .ant-empty-description{
  color: #6FB4CE;
}
.div_process_data_table >>> .ant-table-row{
  border-color: #353C48;
}
.div_process_data_table >>> .ant-table-row th{
  color: #6FB4CE;
  background: #2a3039;
  border-color: #353C48;
}
.div_process_data_table >>> table{
  border-color: #353C48;
}
.div_process_data_table >>> table td{
  border-color: #353C48;
}

.div_process_data_table >>> .ant-table-title{
  color: #ffffff;
  border-color: #353C48;
  background: #2a3039;
  line-height: 20px;
}
.div_process_data_table >>> .ant-table-title label{
  line-height: 20px;
  font-size: 15px;
  display: inline-block;
  margin-top: 3px;
}
.div_process_data_table >>> .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .ant-table-thead>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td{
  background: #353C48;
}


.div_process_data_table >>> .ant-pagination-item-ellipsis{
  color: white;
}
.div_process_data_table >>> .ant-pagination-item-ellipsis:hover{
  color: white;
}
