<ng-template #rapid_table_search>
  <div nz-row>
    <div nz-col nzSpan="7">
      <img style="width: 25px;height: 25px;margin-bottom:10px;" src="../../assets/icon/download_r.svg"/> <label>&nbsp;Rapid7数据下载记录</label>
    </div>
    <div nz-col nzSpan="2">
    </div>
    <div nz-col nzSpan="5" style="padding: 0;font-size: 12px;font-family: '微软雅黑'">
      <nz-range-picker style="width: 98%;" [(ngModel)]="dateRage" (ngModelChange)="setTime()"></nz-range-picker>
    </div>
    <div nz-col nzSpan="4" style="padding: 0">
      <nz-select style="width: 98%;" [(ngModel)]="fileType" nzAllowClear nzPlaceHolder="文件类型">
        <nz-option nzLabel="全部" nzValue=""></nz-option>
        <nz-option nzLabel="fdnsV2" nzValue="fdns_v2"></nz-option>
        <nz-option nzLabel="http" nzValue="http"></nz-option>
        <nz-option nzLabel="https" nzValue="https"></nz-option>
        <nz-option nzLabel="moressl" nzValue="moressl"></nz-option>
        <nz-option nzLabel="rdnsV2" nzValue="rdns_v2"></nz-option>
        <nz-option nzLabel="ssl" nzValue="ssl"></nz-option>
        <nz-option nzLabel="tcp" nzValue="tcp"></nz-option>
        <nz-option nzLabel="udp" nzValue="udp"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="4" style="padding: 0">
      <nz-select style="width: 100%;" [(ngModel)]="status" nzAllowClear nzPlaceHolder="下载状态">
        <nz-option nzLabel="全部" nzValue=""></nz-option>
        <nz-option nzLabel="下载完成" nzValue="finally"></nz-option>
        <nz-option nzLabel="正在下载" nzValue="starting"></nz-option>
        <nz-option nzLabel="等待" nzValue="waiting"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="2" style="text-align: right">
      <button (click)="search()" nzType="primary" style="width: 96%" class="domain-list-button" nz-button><i nz-icon nzType="search"></i>搜索
      </button>
    </div>
  </div>
</ng-template>
<div class="div_rapid_data_table">
  <nz-table style="margin: 0 auto;" #domainTable1 [nzData]="list" nzBordered [nzShowPagination]="false" [nzTitle]="rapid_table_search">
    <!--<thead>
    <tr>
      <th nzWidth="150px">Name</th>
      <th nzWidth="150px">Age</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of domainTable1.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
    </tr>
    </tbody>-->
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th [nzWidth]="'48%'" [nzShowSort]="true" nzSortKey="file_name">文件名</th>
      <th [nzWidth]="'13%'" [nzShowSort]="true" nzSortKey="file_type">文件类型</th>
      <th [nzWidth]="'13%'" [nzShowSort]="true" nzSortKey="file_size">文件大小</th>
      <th [nzWidth]="'13%'" [nzShowSort]="true" nzSortKey="download_time">下载时间</th>
      <th [nzAlign]="'center'" [nzWidth]="'13%'" [nzShowSort]="true" nzSortKey="download_status">下载状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of domainTable1.data">
      <td>{{data.fileName}}</td>
      <td>{{data.fileType}}</td>
      <td>{{data.fileSize}}</td>
      <td>{{data.downloadTime}}</td>
      <td [nzAlign]="'center'">
        <nz-tag *ngIf="data.downloadStatus == 'finally'" [nzColor]="'#A9BD7A'">下载完成</nz-tag>
        <nz-tag *ngIf="data.downloadStatus != 'finally'" [nzColor]="'#6FB4CE'">正在下载</nz-tag>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" (nzPageIndexChange)="indexChange()" style="float: right;margin-top: 15px"></nz-pagination>
</div>
